@import "tailwindcss";

@theme {
  --font-display: 'Syne', sans-serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbars discretos e industriais */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090b10;
}
::-webkit-scrollbar-thumb {
  background: #272e3d;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
